body{
	font-family: 'Arial', sans-serif;
	font-style: monospace;
	overflow-x: hidden;
}
img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.Background__image{
	position:fixed;
	left:0;
	top:0;
	right: ;
	object-fit:cover;
	z-index:0;
	filter: blur(5px);
}
.Background-darkness-cont{
	position: sticky;
	top: 0;
	left: 0;
}
.Background-darkness{
	background-color: rgba(0, 0, 0, 281);
	opacity: 0.5;
	height: 100vh;
	max-width: 100vw;
	z-index: 100;
	position: fixed;
}
.Background{
	max-width: 100vw;
	height: 100vh;
	z-index: 2;
}
.Background__cont{
	max-width: 100vw;
	height: 100vh;
	position: fixed;
	text-align:center;
	z-index: 101;
}
.the-diamond{
	display:flex;
	color:#ffffff;
	font-size:37px;
	justify-content:center;
	height:20vh;
	width:100%;
	position: absolute;
	margin-bottom: 10vh;
	margin-top:5vh;
	font-weight:600;
}
.name{
	display: flex;
	width: 100%;
	margin-top:10vh;
	justify-content:center;
	font-size: 120px;
	color: #fff;
	font-weight: 600;
	position:inherit;
}

.character{
	display:block;
	color:#ffffff;
	font-weight: 600;
	font-size:27px;
	width: 15vw;
	height: 10vh;
	position:relative;
	line-height:5px;
	margin-top:30vh;
	left:40%
}
.background-title{
	display:flex;
	margin-left: 10vw;
	margin-top: 50vh;
	position: absolute;
	z-index: 12;
	height:50vh;
	width: 80vw;
}
.Background__image{
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
main{
	width:100vw;
	height:360vh;
	background-color:white;
	position:absolute;
	z-index: 300;
}

																/*ОЖИДАЕМЫЕ ПОЕДИНКИ*/
.Title-cont{
	color:black;
	font-weight:600;
	font-size:55px;
	text-align:center;
	top:10vh;
	position:relative;
	width:100%;
	height:5vh;
}
.upcomingsFights-cont{
	width:100vw;
	height:30vh;
	position:relative;
	margin-top:22vh;
	border: 1px solid #bababa;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}
.upcomingsFights-cont:hover{
	box-shadow: 5px 0px 10px 2px rgba(0,0,0,0.5);
}
.fights-cont{
	width: 75vw;
	height: 20vh;
	font-weight: 600;
	letter-spacing: 0.1em;
	display: flex;
}
.fights-cont__fighters-image1{
	width: 10vw;
	height: 19vh;
	position: absolute;
}
.Oliveira{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fights-cont__fighters-image2{
	width: 10vw;
	height: 19vh;
	margin-left: 8vw;
}
.Poirier{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fights-cont__fighters-names{
	position: absolute;
	left: 34vw;
	top: 9vh;
	font-size: 22px;
	font-weight: 600;
}
.fights-cont__fighters-datetime{
	position: inherit;
	padding-top: 10px;
	font-size: 18px;
	width: 20vw;
	text-align: center;
}
.fights--cont__fightings-video{
	position: absolute;
	left: 55vw;
	top: 2vh;
	width: 15vw;
	height: 19vh;
}
.fights--cont__fightings-video-cont{
	width: 120%;
	height: 120%;
	display: inline-block;
}
.fights--cont__fightings-video-href-fighter1{
	position: inherit;
	jusutify-content: center;
	align-items: center;
	display: inline-block;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: 302;
}
.fights--cont__fightings-video-href-img-fighter1{
	width: 120%;
	height: 120%;
	object-fit: cover;
	z-index: 301;
	transition: all 1s;
}
.fights--cont__fightings-video-href-img-fighter1:hover{
	transform: scale(1.1);
}
.fights--cont__fightings-video-href-fighter2{
	position: absolute;
	margin-left: 1.4vw;
	top: 0.2vh;
	jusutify-content: center;
	align-items: center;
	display: inline-block;
	overflow: hidden;
	height: 120%;
	width: 120%;
	z-index: 302;
}
.fights--cont__fightings-video-href-img-fighter2{
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 301;
	transition: all 1s;
}
.fights--cont__fightings-video-href-img-fighter2:hover{
	transform: scale(1.1);
}
.fights--cont__fightings-video-href-fight{
	position: absolute;
	display: inline-block;
	overflow: hidden;
	height: 135%;
	width: 210%;
	z-index: 302;
}
.fights--cont__fightings-video-href-img-fight{
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 301;
	transition: all 1s;
}
.fights--cont__fightings-video-href-img-fight:hover{
	transform: scale(1.1);
}
																/*ПРЕДЫДУЩИЕ ПОЕДИНКИ*/
.PreviousFights-block{
	margin-top: 25vh;
}
.PreviousFights-cont{
	width:100vw;
	height:30vh;
	position:relative;
	border: 1px solid #bababa;
	display: flex;
	align-items: center;
	transition: all 0.5s;
}
.PreviousFights-cont:hover{
	box-shadow: 5px 0px 10px 12px rgba(0,0,0,0.5);
}
.fights-cont__fighters-image3{
	width: 10vw;
	height: 19vh;
	margin-left: 12vw;
	position: absolute;
	z-index: 303;
}
.fights-cont__fighters-image4{
	width: 10vw;
	height: 19vh;
	margin-left: 20vw;
	position: absolute;
	z-index: 302;
}
.firstFighterWin{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.win{
	width: 50%;
	height: 20px;
	color: #fff;
	font-size: 2vh;
	text-align: center;
	font-weight: 600;
	z-index: 305;
	left: 2.5vw;
	top: 16.3vh;
	position: absolute;
	background-color: #ff1c1c;
}
.secondFighterLose{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fights-cont__fighters-image5{
	width: 10vw;
	height: 19vh;
	margin-left: 12vw;
	position: absolute;
	z-index: 303;
}
.win{
	width: 50%;
	height: 20px;
	color: #fff;
	font-size: 2vh;
	text-align: center;
	font-weight: 600;
	z-index: 305;
	left: 2.5vw;
	top: 16.3vh;
	position: absolute;
	background-color: #ff1c1c;
}
.fights-cont__fighters-image6{
	width: 10vw;
	height: 19vh;
	margin-left: 20vw;
	position: absolute;
	z-index: 302;
}
/*КНОПКА ПОКАЗАТЬ БОЛЬШЕ*/
.more-cont{
	margin-top: 10vh;
	width: 100vw;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: -0.05em;
}
button{
	border: 1px solid #d6d6d6;
	outline: none;
	background-color: #fcfcfc;
}
.more-btn{
	width: 23vw;
	height: 8vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}
					/*show more выполняет роль двигающейся линии при наведении курсора мышки на кнопку*/
.show{
 	color: #000;
 	cursor: pointer;
 	display: block;
 	font-size: 14px;
 	font-weight: 600;
	width: 100%;
 	height: 8vh;
 	text-align: center;
 	position: relative;
 	text-transform: uppercase;
}
.more:after {
	content: ' ';
 	display: block;
 	left: 0;
 	top: 7.5vh;
 	width: 0;
 	height: 3px;
 	background: #ff1c1c;
	position: absolute;
	z-index: 315;
	transition: all 0.4s ease-in-out;
}
.more:hover:after {
 	width:100%;
}
.Biography{
	width: 100vw;
	height: 100vh;

	position: relative;
	top: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Biography-cont{
	width: 80%;
	height: 90%;
}
.PoirierBioImg-cont{
	width: 27vw;
	height: 100%;
}
.PoirierImg{
	width: 30vw;
	height: 100%;
	object-fit: cover;
}
.PoirierBioValues-cont{
	top: 5vh;
	right: 10vw;
	position: absolute;
	width: 43vw;
	height: 90%;
	letter-spacing: 0.01em;
	font-size: 22px;
	padding-left: 3vw;
}
.cont-bio__title-value{
	margin-top: 4vh;
	font-weight: 900;
}
.PoirierBioValues-contain-status{
	display: flex;
	flex-direction: column;
	font-size: 12px;
	letter-spacing: 0.03em;
	font-weight: 600;
	width: 100%;
	height: 11vh;
}
.PoirierBioValues-cont-status{
	display: flex;
	flex-direction: row;
	font-size: 12px;
	letter-spacing: 0.03em;
	font-weight: 600;
	height: 11vh;
	align-items: center;
}
.fighters-status{
	font-size: 26px;
	margin-top: 3vh;
	font-weight: 300;
}
.height{
	font-size: 30px;
	margin-bottom: -6vh;
}
.weight{
	font-size: 30px;
	margin-bottom: -6vh;
}
.font-weight600{
	font-weight: 600;
}
.theDividingLine{
	left: 10;
	margin-top: 4vh;
	width: 90%;
	height: 1px;
	background: linear-gradient(to right,#cfcfcf,#fafafa);
}
.cont-bio__title1{
	position: relative;
	width: 14vw;
}
.cont-bio__title2{
	position: absolute;
	width: 14vw;
	height: 13vh;
	right: 15vw;
}
.cont-bio__title3{
	position: absolute;
	width: 14vw;
	height: 13vh;
	right: 15vw;
}
.cont-bio__title4{
	position: absolute;
	width: 14vw;
	height: 13vh;
	right: 2vw;
}

.Fighters-Subscribe{
	display: block;
	position: relative;
	width: 30vw;
	height: 10vh;
	border: 2px solid #000;
	margin-left: 47%;
	margin-top: 2%;
	border-radius: 35px;
	color: #000;
	cursor: pointer;
	transition: all 0.4s;
}
.Fighters-Subscribe:hover{
	box-shadow: 0px 0px 5px 5px rgba(79, 79, 79, 0.4);
}
.Subscribe-cont{
	width: 30vw;
	height: 10vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Subscribe-cont-twitter{
	position: inherit;
}
.twitters-logo{
	position: relative;
	left: 4%;
	width: 3vw;
	height: 6vh;
}


														/*ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ ОБ ОРГАНИЗАЦИИ*/
.footer{
	width: 100vw;
	height: 85vh;
	background: linear-gradient(to top,#000000,#4d4d4d);
	position: sticky;
	margin-top: 360vh;
	bottom: 0;
	color: #fff;
	z-index: 200;
}
.footer-cont{
	position: relative;
	width: 65vw;
	height: 500px;
	left: 13vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer-cont__title{
	margin-top: 15vh;
	margin-left: 17vw;
	font-size: 25px;
	letter-spacing: 0.2em;
	padding-bottom: 5vh;
}
.footer-cont__contacts{
	width: 280px;
	font-size: 22px;
	font-wight: 500;
	letter-spacing: 0.1em;
	height: 300px;
	top: 20vh;
}
.footer-cont__contacts-href{
	width: 10vw;
	height: 80%;
}
.footer-cont__sponsors{
	position: absolute;
	margin-top: 12vh;
	margin-left: 42vw;
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 0.1em;
}
.footer-cont__sponsors-href{
	margin-top: 5vh;
	width: 14vw;
	height: 90%;
}
a{
	text-decoration: none;
	color: #fff;
}
li{
	font-size: 16px;
	line-height: 30px;
	list-style-type: none;
}
.footer-cont__faq{
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 22px;
	color: #fff;
	letter-spacing: 0.2em;
	font-weight: 500;
	margin: 4% 4% 2% 32%;
	height: 6vh;
	width: 500px;
	border: 1px solid #fff;
	border-radius: 35px;
	transition: all 0.3s;
}
.footer-cont__faq:hover{
	box-shadow: 0px 0px 5px 7px rgba(79, 79, 79, 0.4);
}
.footer-cont__faq-href{
	padding-top: 1vh;
	font-weight: 500;
	height: 6vh;
	width: 100%;
	border-radius: 35px;
	transition: all 1s;

}
.reserved-rights{
	display: line;
	height: 3vh;
	width: 25vw;
	font-size: 16px;
	color: #a1a1a1;
	position: absolute;
	margin-top: 10vh;
	right: 3vw;
}
											/*Медиа запросы по разрешениям 1080x2320px и 2560x1080px*/
@media screen and (max-width: 1080px) {
		.Background{
		width: 50vw;
		height: 100vh;
	}
		.the-diamond{
		font-size:60px;
		height:20vh;
		width:100%;
		left: 4vw;
	}
	.name{
		width: 90vw;
		font-size: 190px;
		white-space: normal;
	}

	.character{
		font-size: 65px;
		width: 41vw;
		height: 21vh;
		left: 25vw;
	}
	.Title-cont{
		font-size:65px;
		width:100%;
		height:7vh;
		left: 2vw;
	}
	main{
		width:110vw;
		height:375vh;
		background-color:white;
		position:absolute;
		z-index: 300;
		overflow-x: hidden;
	}
	.upcomingsFights-cont{
		width:110vw;
		height:43vh;
		margin-top:15vh;
		transition: all 0.5s;
	}
	.upcomingsFights-cont:hover{
		box-shadow: 5px 0px 10px 8px rgba(0,0,0,0.5);
	}
	.fights-cont{
		width: 75vw;
		height: 17vh;
	}
	.fights-cont__fighters-image1{
		width: 50vw;
		height: 30vh;
		position: absolute;
		left: 8vw;
		top: 3vh;
	}
	.fights-cont__fighters-image2{
		width: 50vw;
		height: 30vh;
		margin-left: 31vw;
		top: 3vh;
		position: absolute;
	}
	.Oliveira{
		width: 100%;
		height: 50%;
		object-fit: cover;
	}
	.Poirier{
		width: 100%;
		height: 50%;
		object-fit: cover;
	}
	.fights-cont__fighters-names{
		left: 26vw;
		margin-top: 14vh;
		font-size: 52px;
	}
	.fights-cont__fighters-datetime{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 16vw;
		padding-top: 10px;
		font-size: 50px;
		width: 20vw;
		position: absolute;
	}
	.spec1080data{
		width: 100vw;
		height: 20vh;
		margin-left: -63vw;
		margin-top: 15vh;
	}
	.fights--cont__fightings-video{
	position: absolute;
	left: 15vw;
	top: 30vh;
	width: 30vw;
	height: 6vh;
	}
	.fights--cont__fightings-video-cont{
		width: 120%;
		height: 120%;
		display: inline-block;
	}
	.fights--cont__fightings-video-href-img-fight{
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 301;
		transition: all 1s;
	}
	.fights--cont__fightings-video-href-img-fight:hover{
		transform: scale(1.1);
	}
	.fights--cont__fightings-video-href-fighter1{
		margin-top: 0.15vh;
	}
	.PreviousFights-block{
		margin-top: 15vh;
	}
	.PreviousFights-cont{
		margin-top: 7vh;
		width:110vw;
		height:48vh;
		position:relative;
		border: 1px solid #bababa;
		display: flex;
		align-items: center;
		transition: all 0.5s;
	}
	.PreviousFights-cont:hover{
		box-shadow: 5px 0px 10px 12px rgba(0,0,0,0.5);
	}
	.fights-cont__fighters-image3{
		width: 50vw;
		height: 15vh;
		top: 3vh;
		left: -1vw;
	}
	.fights-cont__fighters-image4{
		width: 50vw;
		height: 15vh;
		margin-left: 45vw;
		top: 3vh;
	}
	.win{
		width: 50%;
		height: 2.3vh;
		left: 12vw;
		top: 12.65vh;
	}
	.fights--cont__fightings-video-href-fight{
		height: 13vh;
		width: 78vw;
		left: -1vw;
	}
	.fights-cont__fighters-image5{
		width: 50vw;
		height: 15vh;
		top: 3vh;
		left: -1vw;
	}
	.fights-cont__fighters-image6{
		width: 50vw;
		height: 15vh;
		margin-left: 45vw;
		top: 3vh;
	}
	/*КНОПКА ПОКАЗАТЬ БОЛЬШЕ*/
	.more-cont{
		margin-top: 10vh;
		width: 100vw;
		height: 5vh;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: -0.05em;
	}
	.fights-cont__fighters-names{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 14vh;
		font-size: 52px;
	}
	.spec1080{
		width: 100vw;
		height: 10vh;
	}
	.spec1080Hocker{
		width: 100vw;
		height: 10vh;
		margin-left: 6vw;
	}
	/*КНОПКА ПОКАЗАТЬ БОЛЬШЕ*/
	.more-cont{
		margin-top: 5vh;
		width: 100vw;
		height: 5vh;
		font-size: 60px;
		margin-bottom: 13vh;
	}
	.more-btn{
		width: 60vw;
		height: 5vh;
	}
						/*show more выполняет роль двигающейся линии при наведении курсора мышки на кнопку*/
	.show{
	 	display: block;
	 	font-size: 30px;
		width: 100%;
	 	height: 8vh;
	}
	.Biography{
		width: 110vw;
		height: 100vh;
		top: 10vh;
	}
	.PoirierBioImg-cont{
		width: 50vw;
		height: 40vh;
	}
	.PoirierImg{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.PoirierBioValues-cont{
		top: 14vh;
		right: 6vw;
		width: 39vw;
		height: 90%;
	}
	.cont-bio__title-value{
		margin-top: 0.5vh;
		position: absolute;
		font-size: 36px;

	}
	.PoirierBioValues-contain-status{
		font-size: 30px;
		width: 100%;
		height: 11vh;
	}
	.PoirierBioValues-cont-status{
		height: 11vh;
		align-items: center;
		margin-top: 3vh;
	}
	.fighters-status{
		font-size: 31px;
		padding-top: 1vh;
		font-weight: 500;
	}
	.high-weight{
		font-weight: 600;
	}
	.cont-bio__title1{
		margin-left: -40vw;
		margin-top: -8vh;
		width: 14vw;
		position: absolute;
		font-size: 70px;
		font-weight: 600;
	}
	.height{
		font-size: 50px;
		font-weight: 500;
	}
	/*Спец настройка для разрешения х1080*/
	.spec1080debut{
		width: 14vw;
		margin-top: -10vh;
		position: relative;
		font-size: 40px;
		font-weight: 700;
	}
	.debutdata{
		width: 15vw;
		height: 10vh;
		font-size: 40px;
		font-weight: 500;
		margin-top: 6vh;
		position: absolute;
	}
	.cont-bio__title2{
		margin-top: -4vh;
		width: 14vw;
		height: 10.5vh;
		right: 15vw;
		font-size: 70px;
		font-weight: 600;
	}
	.weight{
		font-size: 50px;
		font-weight: 500;
		margin-bottom: -6vh;
	}
	.cont-bio__title3{
		width: 14vw;
		margin-top: -9.2vh;
		margin-left: 4vw;
		position: relative;
		font-size: 40px;
		font-weight: 700;
		font-weight: 600;
	}
	.arm-span{
		width: 15vw;
		height: 10vh;
		font-size: 40px;
		font-weight: 500;
		margin-top: 3vh;
		position: absolute;
	}
	.cont-bio__title4{
		width: 14vw;
		margin-top: -9.4vh;
		right: 4vw;
		position: relative;
		font-size: 40px;
		font-weight: 700;
	}
	.leg-span{
		width: 15vw;
		height: 10vh;
		font-size: 40px;
		font-weight: 500;
		margin-top: 3vh;
		position: absolute;
	}
	.theDividingLine{
		display: none;
	}
	.Fighters-Subscribe{
		width: 60vw;
		height: 9vh;
		border: 2px solid #000;
		margin-top: -15vh;
		margin-left: 30vw;
		border-radius: 150px;
		position: absolute;
		transition: all 0.4s;
	}
	.Fighters-Subscribe:hover{
		box-shadow: 0px 0px 5px 5px rgba(79, 79, 79, 0.4);
	}
	.Subscribe-cont{
		width: 30vw;
		height: 10vh;

	}
	.Subscribe-cont-twitter{
		position: absolute;
		font-size: 35px;
		font-weight: 500;
		left: 10vw;
	}
	.twitters-logo{
		position: relative;
		left: 31vw;
		margin-bottom: 0.5vh;
		width: 15vw;
		height: 7h;
	}
	.footer{
		width: 110vw;
		height: 130vh;
		margin-top: 455vh;
	}
	.footer-cont{
		position: relative;
		width: 65vw;
		height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.footer-cont__title{
		text-align: center;
		margin-top: 15vh;
		margin-left: -23vw;
		font-size: 70px;
		letter-spacing: 0.2em;
	}
	.footer-cont__contacts{
		width: 80vw;
		font-size: 60px;
		font-wight: 500;
		height: 70vh;
		top: 20vh;
		position: absolute;
		left: -17vw;
		text-align: center;
	}
	.footer-cont__contacts-href{
		width: 80vw;
		height: 70vh;
		margin-left: -5vw;
	}
	.footer-cont__contacts-href-style{
		width: 40vw;
		height: 70vh;
		font-size: 50px;
		line-height: 4vh;
		letter-spacing: 0.2em;
	}
	.footer-cont__sponsors{
		position: absolute;
		margin-top: 125vh;
		text-align: center;
		width: 80vw;
		margin-right: 60vw;
	}
	.footer-cont__sponsors-href{
		width: 100vw;
		height: 10vh;
		margin-top: 2vh;
	}
	.footer-cont__sponsors-href-style{
		width: 100vw;
		height: 100%;
		font-size: 50px;
		line-height: 4vh;
		letter-spacing: 0.2em;
		margin-right: 28vw;
	}
	.footer-cont__faq{
		font-size: 46px;
		margin: 4% 4% 2% 32%;
		height: 6vh;
		width: 800px;
		margin-top: 170vh;
		margin-right: 40vw;
		border-radius: 105px;
		transition: all 0.3s;
		display: inherit;
	}
	.footer-cont__faq:hover{
		box-shadow: 0px 0px 5px 15px rgba(79, 79, 79, 0.4);
	}
	.footer-cont__faq-href{
		padding-top: 1vh;
		font-weight: 500;
		height: 6vh;
		width: 100%;
		border-radius: 35px;
		margin-top: 0.8vh;
		transition: all 1s;

	}
	.reserved-rights{
		display: line;
		height: 3vh;
		width: 80vw;
		font-size: 35px;
		color: #a1a1a1;
		position: absolute;
		margin-top: 97vh;
		right: 15.5vw;
	}
}
@media screen and (min-width: 2560px){
		.Background{
			width: 50vw;
			height: 100vh;
		}
		.the-diamond{
			top: -5vh;
			font-size: 50px;
			height: 30vh;
			width: 100%;
		}
		.name{
			width: 90vw;
			font-size: 120px;
			white-space: normal;
			top: -2vh;
			left: -4vw;
		}
		.character{
			font-size: 55px;
			width: 41vw;
			height: 21vh;
			left: 20vw;
			top: -3vh;
		}
		.Title-cont{
			font-size:65px;
			width:100%;
			height:7vh;
			left: -5vw;
		}
		main{
			width:110vw;
			height:405vh;
			background-color:white;
			position:absolute;
			z-index: 300;
			overflow-x: hidden;
		}
		.upcomingsFights-cont{
			width:110vw;
			height:33vh;
			margin-top:18vh;
			transition: all 0.5s;
		}
		.upcomingsFights-cont:hover{
			box-shadow: 5px 0px 10px 8px rgba(0,0,0,0.5);
		}
		.fights-cont{
			width: 75vw;
			height: 17vh;
		}
		.fights-cont__fighters-image1{
			width: 14vw;
			height: 45vh;
			position: absolute;
			left: 6vw;
			top: 5vh;
			z-index: 500;
		}
		.fights-cont__fighters-image2{
			width: 14vw;
			height: 45vh;
			left: 7vw;
			top: 5vh;
			position: absolute;
		}
		.Oliveira{
			width: 100%;
			height: 50%;
			object-fit: cover;
		}
		.Poirier{
			width: 100%;
			height: 50%;
			object-fit: cover;
		}
		.fights-cont__fighters-names{
			left: 33vw;
			margin-top: 3vh;
			font-size: 40px;
		}
		.fights-cont__fighters-datetime{
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 33vw;
			margin-top: -15vh;
			font-size: 38px;
			width: 20vw;
			position: absolute;
		}
		.spec1080data{
			width: 100vw;
			height: 20vh;
			margin-left: -63vw;
			margin-top: 15vh;
		}
		.fights--cont__fightings-video{
			position: absolute;
			margin-top: 3.5vh;
			width: 14vw;
			height: 18vh;
			left: 61vw;
		}
		.fights--cont__fightings-video-cont{
			width: 120%;
			height: 120%;
			display: inline-block;
		}
		.fights--cont__fightings-video-href-img-fight{
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 301;
			transition: all 1s;
		}
		.fights--cont__fightings-video-href-img-fight:hover{
			transform: scale(1.1);
		}
		.fights--cont__fightings-video-href-fighter1{
			margin-top: 0.15vh;
		}
		.PreviousFights-block{
			margin-top: 20vh;
		}
		.PreviousFights-cont{
			margin-top: 7vh;
			width:110vw;
			height:35vh;
			position:relative;
			border: 1px solid #bababa;
			display: flex;
			align-items: center;
			transition: all 0.5s;
		}
		.PreviousFights-cont:hover{
			box-shadow: 5px 0px 10px 12px rgba(0,0,0,0.5);
		}
		.fights-cont__fighters-image3{
			width: 12vw;
			height: 27vh;
			top: 3vh;
			left: -5vw;
		}
		.fights-cont__fighters-image4{
			width: 12vw;
			height: 27vh;
			margin-left: 16.5vw;
			top: 3vh;
		}
		.win{
			width: 70%;
			height: 3vh;
			left: 1.8vw;
			top: 23.9vh;
			font-size: 28px;
		}
		.fights--cont__fightings-video-href-fight{
			height: 24vh;
			width: 36vw;
			left: -1vw;
		}
		.fights-cont__fighters-image5{
			width: 12vw;
			height: 27vh;
			top: 3vh;
			left: -5vw;
		}
		.fights-cont__fighters-image6{
			width: 12vw;
			height: 27vh;
			margin-left: 16.5vw;
			top: 3vh;
		}
		/*КНОПКА ПОКАЗАТЬ БОЛЬШЕ*/
		.more-cont{
			margin-top: 15vh;
			width: 100vw;
			height: 5vh;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			font-size: 14px;
			letter-spacing: -0.05em;
		}
		.spec1080Hocker{
			width: 100vw;
			height: 10vh;
			margin-left: 4vw;
		}
		/*КНОПКА ПОКАЗАТЬ БОЛЬШЕ*/
		.more-cont{
			margin-top: 13vh;
			width: 100vw;
			height: 15vh;
			margin-bottom: 13vh;
		}
		.more-btn{
			width: 45vw;
			height: 15vh;
		}
							/*show more выполняет роль двигающейся линии при наведении курсора мышки на кнопку*/
		.show{
		 	display: block;
		 	font-size: 30px;
			width: 100%;
		 	height: 18vh;
		 	font-size: 36px;
		}
		.more:after {
			content: ' ';
		 	display: block;
		 	left: 0;
		 	top: 17.5vh;
		 	width: 0;
		 	height: 3px;
		 	background: #ff1c1c;
			position: absolute;
			z-index: 315;
			transition: all 0.4s ease-in-out;
		}
		.Biography{
			width: 110vw;
			height: 100vh;
			top: 10vh;
		}
		.PoirierBioImg-cont{
			width: 30vw;
			height: 110vh;
			margin-top: 10vh;
		}
		.PoirierBioValues-cont{
			top: 21vh;
			right: 16vw;
			width: 39vw;
			height: 90%;
		}
		.cont-bio__title-value{
			margin-top: 0.5vh;
			position: absolute;
			font-size: 36px;
		}
		.PoirierBioValues-contain-status{
			font-size: 30px;
			width: 100%;
			height: 11vh;
		}
		.PoirierBioValues-cont-status{
			height: 11vh;
			align-items: center;
			margin-top: 5vh;
		}
		.fighters-status{
			font-size: 31px;
			padding-top: 4vh;
			font-weight: 500;
		}
		.font-weight600{
			font-weight: 900;
		}
		.high-weight{
			font-weight: 600;
		}
		.cont-bio__title1{
			margin-left: 0vw;
			margin-top: -4.7vh;
			width: 14vw;
			position: absolute;
			font-size: 70px;
			font-weight: 600;
		}
		.height{
			font-size: 50px;
			font-weight: 500;
		}
		/*Спец настройка для разрешения х1080*/
		.spec1080debut{
			width: 14vw;
			margin-top: -9vh;
			margin-left: 0.1vw;
			position: relative;
			font-size: 40px;
			font-weight: 700;
		}
		.debutdata{
			width: 15vw;
			height: 10vh;
			font-size: 40px;
			font-weight: 500;
			top: 11vh;
			position: absolute;
		}
		.cont-bio__title2{
			margin-top: -6.65vh;
			width: 14vw;
			height: 10.5vh;
			right: 13vw;
			font-size: 70px;
			font-weight: 600;
		}
		.weight{
			font-size: 50px;
			font-weight: 500;
			margin-top: 7vh;
		}
		.cont-bio__title3{
			width: 6vw;
			margin-top: -4vh;
			margin-left: 27vw;
			position: relative;
			font-size: 40px;
			font-weight: 700;
			font-weight: 600;
		}
		.arm-span{
			width: 15vw;
			height: 10vh;
			font-size: 40px;
			font-weight: 500;
			margin-top: 4.1vh;
			position: absolute;
		}
		.cont-bio__title4{
			width: 14vw;
			margin-top: -4vh;
			right: 8vw;
			position: relative;
			font-size: 40px;
			font-weight: 700;
		}
		.leg-span{
			width: 15vw;
			height: 10vh;
			font-size: 40px;
			font-weight: 500;
			margin-top: 4.1vh;
			position: absolute;
		}
		.theDividingLine{
			left: 10;
			margin-top: 3vh;
			width: 90%;
			height: 1px;
			background: linear-gradient(to right,#141414,#fafafa);
		}
		.Fighters-Subscribe{
			width: 28vw;
			height: 10vh;
			border: 2px solid #000;
			margin-top: 21vh;
			margin-left: 55vw;
			border-radius: 150px;
			position: absolute;
			transition: all 0.4s;
		}
		.Fighters-Subscribe:hover{
			box-shadow: 0px 0px 5px 9px rgba(79, 79, 79, 0.4);
		}
		.Subscribe-cont{
			width: 30vw;
			height: 10vh;
		}
		.Subscribe-cont-twitter{
			position: absolute;
			font-size: 33px;
			font-weight: 500;
			left: 3vw;
		}
		.twitters-logo{
			position: absolute;
			left: 23vw;
			margin-bottom: 0.5vh;
			width: 3vw;
			height: 8h;
		}
		.footer{
			width: 100vw;
			height: 100vh;
			background: linear-gradient(to top,#000000,#4d4d4d);
			position: sticky;
			margin-top: 405vh;
			bottom: 0;
			color: #fff;
			z-index: 200;
		}
		.footer-cont{
			position: relative;
			width: 65vw;
			height: 70%;
			left: 13vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.footer-cont__title{
			margin-top: 10vh;
			margin-left: 19vw;
			font-size: 37px;
			letter-spacing: 0.2em;
			padding-bottom: 5vh;
		}
		.footer-cont__contacts{
			width: 280px;
			font-size: 32px;
			font-weight: 700;
			letter-spacing: 0.1em;
			height: 300px;
			top: 20vh;
		}
		.footer-cont__contacts-href{
			margin-top: 5vh;
		}
		.footer-cont__contacts-href-style{
			width: 10vw;
			height: 100%;
			font-size: 32px;
			font-weight: 500;
			letter-spacing: 0.1em;
			line-height: 5vh;
		}
		.footer-cont__sponsors{
			position: absolute;
			margin-top: 1.5vh;
			margin-left: 42vw;
			width: 290px;
			font-size: 35px;
			font-weight: 700;
			letter-spacing: 0.1em;
			height: 300px;
			top: 20vh;
		}
		.footer-cont__sponsors-href-style{
			width: 10vw;
			height: 100%;
			font-size: 32px;
			font-weight: 500;
			letter-spacing: 0.1em;
			line-height: 5vh;
		}
		.footer-cont__faq{
			font-size: 29px;
			margin: 4% 4% -12% 32%;
			height: 10vh;
			width: 700px;
			border: 1px solid #fff;
			border-radius: 55px;
			transition: all 0.3s;
		}
		.footer-cont__faq:hover{
			box-shadow: 0px 0px 5px 13px rgba(79, 79, 79, 0.4);
		}
		.footer-cont__faq-href{
			padding-top: 3vh;
			height: 6vh;
			width: 100%;
			border-radius: 35px;
			transition: all 1s;

		}
		.reserved-rights{
			display: line;
			height: 3vh;
			width: 25vw;
			font-size: 26px;
			color: #a1a1a1;
			position: absolute;
			margin-top: 23vh;
			right: 3vw;
		}
}